html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 4rem !important;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.name_title, .back_to_corridor {
    text-decoration: none;
    font-size: 2vw;
    color: black;
}
.my_logo {
    scale: 0.5;
    width: 7vw;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projects_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.projects_up {
    align-self: center;
    width: 80%;
}

.carousel {
    width: 80%;
}
.d-block {
    justify-self: center;

}
.carousel-inner {
    align-items: center;
}
/* .projects_box .projects_down {
    display: flex;
    flex-direction: row;
    width: 100%;
} */

  


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.projects_image {
    scale: 0.2;
}

.footer {
    justify-items: center;
}