html {
    font-size: 16px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* height: 4rem !important; */
    height: 10%;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.name_title, .back_to_corridor {
    text-decoration: none;
    font-size: 2vw;
    color: black;
}
.my_logo {
    scale: 0.5;
    width: 7vw;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
}

.projects_box {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.wordpress {
    width: 100%;
    height: 100%;
}

.footer {
    justify-items: center;
    height: 5%;
}