html {
    font-size: 16px;
}
  body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #fdfdfd;
  }

  button {
    width: 7rem;
    color: white;
    background-color: black;
    border-radius: 0.5rem;
  }
  .corridor-Expalnation-box-button {
    width: 20rem;
  }

  /*************************************************/
  /* 0 */
    ._0-main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 2rem; */
        /* margin: 0; */
        /* padding: 2rem; */
        min-height: 100vh;
        box-sizing: border-box;
      }
      
/*************************************************/
/* 1 */
    .corridor-text {
          display: block;
          /* max-width: 70%; */
          justify-self: center;
          text-align: center;
          font-size: 3rem;
          font-weight: bold;
          color: #333;
        }
        .corridor-img {
            width: 60rem;
            /* height: 200; */
            display: block;
            /* overflow: hidden; */
            aspect-ratio: 1.7777777777777777 / 1;
            background-image: url(/* image.png */);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            /* position: absolute; */
            border-radius: 1.2rem;
        }
        .corridor-Expalnation-box {
          justify-items: center;
        }
          .corridor-Expalnation-box-text{
            width: 50%;
            text-align: center;
          }

/*************************************************/
/* 2 */
    .links-box {
      width: 50rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 4rem;
    }
      .links-box a {
        font-size: 2rem;
        text-decoration: none;
        font-family: "Inter", "Inter Placeholder", sans-serif;
        color: var(--token-ba0f8505-1870-43c0-8d4e-7d4bc5406462, #999999);
      }
        .links-box span {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
        }

/*************************************************/
/* 3 */
    ._3-Eng-and-Web-sec {
        width: 75rem;
        background-color: #f0f0f0;
      }
      .Eng-and-Web-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
      .Eng-and-Web-box img {
        height: 20rem;
        aspect-ratio: 1.4 / 1;
        border-radius: 1rem;
      }
      .Eng-and-Web-box-eng-info-box, .Eng-and-Web-box-web-info-box {
        display: flex;
        flex-direction: column;
        /* gap: 1rem; */
        justify-content: space-evenly;
        height: 20rem;
        width: 28rem;
      }
        .Eng-and-Web-box-eng, .Eng-and-Web-box-web {
          display: flex;
          flex-direction: row;
          gap: 3rem;
        }
        .the-title {
          text-align: center;
          font-size: 2.5rem;
          font-weight: bold;
          margin: 0rem;
        }
        .the-brief {
          font-size: 1rem;
        }

/*************************************************/
/* 4 */
    ._4-FAQ {
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        align-self: center;
      }
      .FAQ-text {
        align-self: center;
        font-size: 2.5rem;
        font-weight: bold;
      }
      .FAQ-accardion {
        --container-width: 60rem;
        --hr-offset: 5rem;
        width: var(--container-width);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem;
        border-radius: 1rem;
        background-color: #f0f0f0;
      }
      hr {
        width: calc(var(--container-width) - var(--hr-offset));
        transition: width 0.3s ease;
        color: #333;
      }
      .FAQ-accordion-button{
        width: 10rem;
        align-self: center;
        margin: 3rem;
      }
      .FAQ-accordion-box {
        border: none;
      }
      .FAQ-accordion-box-q {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .FAQ-accordion-box-q-icon {
        width: 1rem;
        /* padding: 0.5rem; */
        vertical-align: middle;
      }
      .FAQ-accordion-box-q-icon-cross {
        display: none;
      }
      .FAQ-accordion-box-q-text {
        padding: 0.5rem;
        vertical-align: middle;
      }
      .FAQ-accordion-a {
        margin-left: 2rem;
      }

/*************************************************/
/* 5 */
    .subscription-box {
        width: 75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: 2.5rem;
        font-weight: bold;
        background-color: #f0f0f0;
      }
        .subscription-box-button {
          margin-bottom: 3rem;
        }

/*************************************************/
/* 6 */
    ._6-footer {
        width: 75rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: black;
        color: white;
      }
      .footer-connection {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
      ._6-footer a{
        text-decoration: none;
      }