html{
    font-size: 62.5%;
    background-color: antiquewhite;
    /* height: 100%; */
}
body{
    background-color: rgb(237, 229, 229);
    width: 183rem;
    /* margin: 5rem auto; */
    margin: 2.55% auto;
    border-radius: 2%;
    position: relative;
    display: grid;
    grid-template: 
    "top-nav" /* 7% /* 6.63% */13rem
    "main-section" /* 70% /* 66.33% */130rem
    "below-area" /* 23% /* 21.94% */43rem
    /183rem;
}
a:link, :visited, :active, :hover{
    text-decoration: none;
    color: unset;
  }
  
/* Top Navigation Bar */
nav.top-nav{
    grid-area: top-nav;
    display: grid;
    grid-template: 
    "nam ... khan ... projs ..." 1fr
    /25rem 136.3rem 6.4rem 1.8rem 6.4rem auto;
}
a.top-name{
    grid-area: nam;
    font-size: 3.2rem;
    margin-top: 4.2rem;
    margin-left: 6.5rem;
    display: inline-block;
    filter: drop-shadow(-2px -1px rgba(128, 128, 128, 0.66));
}
img.icon-home-image{
    display: none;
    grid-area: khan;
    width: 6.4rem;
    margin-top: 3.3rem;
    display: inline-block;
}
img.icon-projects-image{
    display: none;
    grid-area: projs;
    width: 6.4rem;
    margin-top: 3.3rem;
    display: inline-block;
}

/* Main Area */
div.main-section{
    grid-area: main-section;
}

/* Main Area */
div.main-section{
    grid-area: main-section;
}

/* Main Area */
div.main-section{
    grid-area: main-section;
    position: relative;
    display: grid;
    grid-template: 
    "left-intro right-photo" 77rem
    "left-tagline right-about" 53rem
    /1fr 1fr;
}

    /* Left Section */
    div.intro{
        grid-area: left-intro;
        display: grid;
        margin-top: 17rem;
        grid-template: 
        "title" 14.5rem
        "name" 4.5rem
        "description" 7rem
        /1fr;
    }
        p.title{
            grid-area: title;
            margin-left: 8.5rem;
            font-size: 3rem;
        }
        p.intro-name{
            display: none;
            grid-area: name;
            margin-left: 8.5rem;
            font-size: 2rem;
        }
        p.intro-text{
            grid-area: description;
            margin: 0;
            margin-left: 8.5rem;
            margin-right: 5.5rem;
            font-size: 3rem;
            text-align: justify;
        }
        p.tagline-text{
            grid-area: left-tagline;
            position: absolute;
            top: 13rem;
            margin-top: 0;
            margin-left: 27.5rem;
            font-size: 4.4rem;
            width: 43rem;
            text-align: center;
            filter: drop-shadow(-2px 2px rgba(128, 128, 128, 0.66));
        }

    /* Right Section */
    img.profile-photo{
        grid-area: right-photo;
    }
    p.about-me{
        grid-area: right-about;
        position: absolute;
        top: 13rem;
        margin: 0;
        margin-left: 5.5rem;
        margin-right: 5.5rem;
        font-size: 2.5rem;
        height: 23rem;
        text-align: justify;
    }

/* Below Area */
section.below-area{
    position: absolute;;
    font-size: 3rem;
    grid-area: below-area;
    top: 6.5rem;
    left: 28rem;
}
p.recent-projects{
    margin: 0;
}
section.below-area div.recent-projects-frame{
    top: 10.5rem;
    margin-left: 25rem;
    display: inline-block;
}
div.project-1-wrapper, div.project-2-wrapper, div.project-3-wrapper{
    display: inline-block;
}
section.below-area img{
    width: 26rem;
}
p.copyright{
    display: inline-block;
    margin-left: 20rem;
    font-size: 3rem;
    filter: drop-shadow(0 2px rgba(128, 128, 128, 0.66));
}

@media screenand and (max-width: 414px) {
    
}