<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/png" href="/static/images/Icon.png">
    <title>Rahrow</title>
</head>

<body>

    <!-- Top Navigation Bar -->
    <nav class="top-nav">
        <a class="top-name" href="/templates/home.html">Vahid Kosari</a>
        <!-- Icons Copyright: Pictogrammers Team Link= https://www.iconarchive.com/artist/pictogrammers.html -->
        <a class="icon-home" href="/templates/home.html">
            <img class="icon-home-image" src="/static/images/Home Icon.512.png">
        </a>
        <a class="icon-projects" href="/templates/projects.html">
            <img class="icon-projects-image" src="/static/images/Projects Icon.512.png">
        </a>
    </nav>

    <!-- Main Section Area -->
    <div class="main-section">

        <!-- Left Section -->
        <section class="left-section">
            <div class="intro">
                <p class="title">
                    Creative<br>
                    Web Developer
                </p>
                <p class="intro-name">
                    Vahid Kosari
                </p>
                <p class="intro-text">
                    I'm a self-taught programmer who is passionate about solving complex problems and creating innovative solutions, 
                    especially within an IT firm. I enjoy exploring new technologies and staying up-to-date with the latest trends 
                    in the field. While my current role is as a Senior Mechanical Technical Inspector at Kavian Petrochemical Complex, 
                    my background in programming has given me a unique perspective on identifying opportunities for improvement and 
                    developing creative solutions. I'm excited to continue building my skills and contributing to new projects in the future.
                </p>
            </div>
            <div class="tagline">
                <p class="tagline-text">
                    Freely, tell your story<br>Firmly, I will do it
                </p>
            </div>
        </section>

        <!-- Right Section -->
        <section class="right-section">
            <img class="profile-photo" src="/static/images/VAK-GS.png">
            <p class="about-me">
                Hello! I am a full-stack developer with expertise in HTML, CSS, and Python. I am passionate about creating user-friendly 
                and responsive websites that are both visually appealing and functional. Currently, I am expanding my skills in 
                popular web frameworks such as Django, Flask, and FastAPI to further enhance my capabilities as a web developer. 
                In my free time, I enjoy exploring new technologies and learning about the latest trends in the field. 
                I look forward to connecting with other like-minded professionals and taking on exciting new projects!
            </p>
        </section>
    </div>

    <!-- Below Area for Recent Projects frame -->
    <section class="below-area">
        <p class="recent-projects">Recent projects</p>
        <div class="recent-projects-frame">
            <a class="project-1" href="/templates/project-1.html">
                <div class="project-1-wrapper">
                    <img class="project-1-image" src="/static/images/Projects Icon.png" alt="project-1">
                </div>
            </a>
            <a class="project-2" href="/templates/project-2.html">
                <div class="project-2-wrapper">
                    <img class="project-2-image" src="/static/images/Projects Icon.png" alt="project-2">
                </div>
            </a>
            <a class="project-3" href="/templates/project-3.html">
                <div class="project-3-wrapper">
                    <img class="project-3-image" src="/static/images/Projects Icon.png" alt="project-3">
                </div>
            </a>
        </div>
        <p class="copyright">
            Copyright 2023!
        </p>
    </section>
</body>

</html>