{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}?v=4.0" />
    <link rel="icon" type="image/png" href="{% static 'images/Icon.png' %}" />
    <title>Rahrow</title>
</head>
<body>
    <main class="_0-main-container">
        <section class="_1-corridor-sec">
            <p class="corridor-text">
                This corridor goes to
                <br>
                the end of the world, to itself.
            </p>
            <img class="corridor-img" src="{% static '/images/corridor_img.png' %}" title="Self"/>
            <div class="corridor-Expalnation-box">
                <p class="corridor-Expalnation-box-text">
                        In Parsi language, rahrow has
                        <br>
                        two close but different meanings:
                        <br>
                        The Corridor
                        <br>
                        The Passenger
                </p>
                <a href="" class="corridor-Expalnation-box-button btn-link">
                    <span class="corridor-Expalnation-box-button-text btn-link-text">Let's see different aspects of this passenger!</span>
                </a>
            </div>
        </section>
        <section class="_2-links-sec">
            <div class="links-box">
                <span class="links-box-LinkedIn">
                    <img class="logo" src="{% static '/images/LinkedIn-icon.png' %}"></img>
                    <a class="link" href="https://www.linkedin.com/in/vahid-kosari" target="_blank">LinkedIn</a>
                </span>
                <span class="links-box-Git">
                    <img class="logo" src="{% static '/images/Git-icon.png' %}"></img>
                    <a class="link" href="https://github.com/Vahid-Kosari" target="_blank">GitHub</a>
                </span>
            </div>
        </section>
        <section class="_3-Eng-and-Web-sec">
            <div class="Eng-and-Web-box">
                <div class="Eng-and-Web-box-eng">
                    <img class="Eng-and-Web-box-img" src="{% static '/images/Mechanical_eng_img.png' %}" title="Mechanical Engineer">
                    <span class="Eng-and-Web-box-info-box">
                        <p class="the-title">The<br>Mechanical Engineer</p>
                        <p class="the-brief">I am a sesioned mechanical engineer</p>
                        <a href="" class="btn-link"> <!-- {---% url 'Eng_projects' %} -->
                            <span class="Eng-and-Web-box-button-text btn-link-text">Read More</span>
                        </a>
                    </span>
                </div>
                <div class="Eng-and-Web-box-web">
                    <img class="Eng-and-Web-box-img" src="{% static '/images/Web_developer_img.png' %}" title="Web Developer">
                    <span class="Eng-and-Web-box-info-box">
                        <p class="the-title">The<br>Web Developer</p>
                        <p class="the-brief">I am a Web Developer</p>
                        <a href="{% url 'web_projects' %}" class="btn-link">
                            <span class="Eng-and-Web-box-button-text btn-link-text">Read More</span>
                        </a>
                    </span>
                </div>
            </div>
        </section>
        <section class="_4-FAQ">
            <p class="FAQ-text">FAQ</p>
            <div class="FAQ-accardion">
                <div class="FAQ-accordion first">
                    <div class="FAQ-accordion-box-q">
                        <img class="FAQ-accordion-box-q-icon" src="{% static '/images/plus-svgrepo-com.png' %}">
                        <p class="FAQ-accordion-box-q-text">Who am I?</p>
                    </div>
                    <p class="FAQ-accordion-a">I am, who I am.</p>
                </div>
                <hr>
                <div class="FAQ-accordion second">
                    <div class="FAQ-accordion-box-q">
                        <img class="FAQ-accordion-box-q-icon" src="{% static '/images/plus-svgrepo-com.png' %}">
                        <p class="FAQ-accordion-box-q-text">Who am I?</p>
                    </div>
                    <p class="FAQ-accordion-a">I am, who I am.</p>
                </div>
                <hr>
                <div class="FAQ-accordion third">
                    <div class="FAQ-accordion-box-q">
                        <img class="FAQ-accordion-box-q-icon" src="{% static '/images/plus-svgrepo-com.png' %}">
                        <p class="FAQ-accordion-box-q-text">Who am I?</p>
                    </div>
                    <p class="FAQ-accordion-a">I am, who I am.</p>
                </div>
                <hr>
                <a href="" class="FAQ-accordion-button btn-link">
                    <span class="FAQ-accordion-button-text btn-link-text">Read More</span>
                </a>
            </div>
        </section>
        <section class="_5-subscription">
            <div class="subscription-box">
                <p class="subscription-box-text">Sign up for monthly articles.</p>
                <a href="" class="subscription-box-button btn-link">
                    <span class="subscription-box-button-text btn-link-text">Get Started</span>
                </a>
            </div>
        </section>
        <section class="_6-footer">
            <p class="footer-copyright">© Vahid Kosari {{ year }} {{ month }}</p>
            <span class="footer-connection">
                <a class="footer-linkedin" href="https://www.linkedin.com/in/vahid-kosari" target="_blank">LinkedIn</a>
                <a class="footer-email" href="mailto:vahid59m@yahoo.com">Email</a>
            </span>
        </section>
    </main>
    <script src="{% static 'index.js' %}?v=1"></script>
</body>
</html>
