
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title == "Software Engineer" %}
            <link rel="stylesheet" href="{% static 'styles-w.css' %}?v=4.0" />
        {% else %}
            <link rel="stylesheet" href="{% static 'styles-m.css' %}?v=1.0" />
        {% endif %} 
        <link rel="stylesheet" href="{% static 'styles-w.css' %}?v=4.0" />
        <link rel="icon" type="image/png" href="{% static 'images/Projects-Icon.png' %}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <span class="my_name">Vahid Kosari</span>
            <span class="navigation">
                <a href="{% url 'home' %}" class="back_to_corridor">Back to corridor</a>
                <img src="{% static 'images/Icon.png' %}" class="my_logo">
            </span>
        </header>
        <main>
            <section class="introduction">
                <h2>Work Collection</h2>
                <h2>{{ title }}</h2>
            </section>

            {% if title == "Software Engineer" %}  
                {% include "web_projects_box.html" %}
            {% else %}
                {% include "eng_projects_box.html" %}
            {% endif %}  

            <section class="content">
                <span class="overview">
                    <h3>Overview</h3>
                    <p>This is the overview</p>
                </span>
                <span class="approach">
                    <h3>Approach</h3>
                    <p>This is the approach</p>
                </span>
            </section>
        </main>
        <footer class="footer">
            <p>&copy; {{ year }} Vahid Kosari. All rights reserved.</p>
        </footer>
    </body>
</html>